{% extends 'base.html' %}
{% block title %} Add Content {% endblock %}
{% block content %}
    {% load static %}

    {% block header %} {% include 'header.html' %} {% endblock header %}

    <div class="container" style="position: center; padding: 100px; vertical-align: middle;">
        <h2>Add Content</h2>

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Add</button>
{#            <input type="submit" value="Register">#}
        </form>

    </div>
{% endblock %}