{% extends "base.html" %}
{% block content %}
{% load static %}

    {% load markdownify %}
    <header>
        {% block header %} {% include 'header.html' %} {% endblock header %}

      <div class="jumbotron">
          <h1 class="display-4">CourseMatter!</h1>
          <p class="lead">This an open source course management system with Django & PostGreSQL. Follow the github link on the footer to contribute & learn more!</p>
          <hr class="my-4">
          <p>Register/Log in to our system to get started</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">Get Started</a>
          </p>
        </div>
    </header>

    <div class="container">
    <h3>Courses</h3>
        <div class="row">
            <div class="col-md-8 mt-3 left">
            {% for course in courses %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h3>{{ course.title }}</h3>
                        <p class="card-text text-muted h6">{{ course.created_on}} </p>
                        <p class="card-text text-muted h6"> {% for tag in course.tags.all %} <a href="{% url 'content_by_tag' tag.slug %}"> {{ tag.name }}</a> {% endfor %}</p>
                        <p class="card-text">{{course.summary | safe }}</p>
                        <a class="btn btn-primary" href="{% url 'course_detail' course.slug %}" >Read More &rarr; <span class="glyphicon glyphicon-chevron-right"></span></a>
                        {% if user.is_authenticated %}
                            {% if user.id == course.author.id%}
                                <a href="{% url 'edit_course' course.slug %}">Edit</a>
                                <a href="{% url 'delete_course' course.slug %}">Delete</a>
                            {% endif %}
                        {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="container">
    <h3>Latest Content!</h3>
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for content in contents %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ content.title }}</h2>
                        <p class="card-text text-muted h6">{{ content.created_on}} </p>
                        <span>Author: </span><a href = "{% url 'content_by_author' content.author.id %}">{{ content.author }} </a>

                        <span>| Course: </span><a href = "{% url 'course_detail' content.course.slug %}">{{ content.course }} </a>
                        <p class="card-text text-muted h6">Tags: {% for tag in content.tags.all %} <a href="{% url 'content_by_tag' tag.slug %}"> {{ tag.name }}</a> {% endfor %}</p>
                        <p class="card-text">{{content.bio|slice:":200"| markdownify | safe }}</p>
                        <a href="{% url 'content_detail' content.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        {% if user.is_authenticated %}
                            {% if user.id == content.author.id%}
                                <a href="{% url 'edit_content' content.slug %}">Edit</a>
                                <a href="{% url 'delete_content' content.slug %}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}

{%endblock%}